* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  margin: 0;
  padding: 1rem;
}

.column {
  float: left !important;
  padding: 1rem !important;
}

/* app view */

.app-header {
  margin-bottom: 1rem;
}

/* album view */

.album {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 30%;
  max-width: 180px;
}

.music-item {
  border: 1px solid #ccc;

  /*padding: .8rem;*/
  font-size: 1.6rem;
}

.music-item a {
  display: block;
  width: 100%;
  height: 100%;

  padding: .8rem;
  text-decoration: none;
}

.music-item a:visited {
  color: #000;
}

.music-item a:hover {
  background: rgba(169, 68, 66, 0.51);
}
.music-item a:focus {
  background: #a94442;
}


/* music detail */

.music-detail p:first-of-type {
  margin-top: 0;
}
.music-detail p:last-of-type {
  margin-bottom: 0;
}
.cover {
  width: 200px;
}
.cover > * {
  width: 100%;
}

.cover img {
  display: block;
  margin-bottom: 1rem;
}

